extends layoutForm

block content
  h1 What We Do
  p Please fill  in the form below
  
  form
    div(class="form-group")
      label(for="first") First Input
      input(type="text" name="first" id="first" class="form-control")
    div(class="form-group")
      label(for="second") Second Input
      input(type="text" name="second" id="second" class="form-control")
