html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header")
      img(src="/images/logo-459x100.png" id="logo")
      
    div(class="content")
      div(class="sidebar")
        ul(class="list")
          li(class="item")
              a(href="/user_details") User Details
          li(class="item")
              a(href="/business_details") Business Details
          li(class="item")
              a(href="/who-we-are") Who We Are
          li(class="item")
              a(href="/what-we-do") What We Do
          li(class="item")
              a(href="/where-we-service") Where We Service
          li(class="item")
              a(href="/Why Use Us") Why Use Us
          li(class="item")
              a(href="/Certifications") Certifications
          li(class="item")
              a(href="/Design") Design
      div(class="block-content")
        block content
    
    div(class="buttons")
      a(class="btn" id="btn-preview") Preview
      a(class="btn" id="btn-save") Save & Continue

    
