body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  height: 100vh;
}

a {
  color: #00B7FF;
}

.content {
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #eee;
  border-radius: 8px;
  border: 1px solid black;
  z-index: 1;
}

.block-content {
  grid-column: 2/-1;
  padding: 20px;
}

.sidebar {
  background-color: #aaa;
  grid-column: 1/2;
  align-self: stretch;
  justify-self: stretch;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.list{
  padding: 5px;
  margin-top: 0;
  display: grid;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-gap: 5px;
}

.header {
  grid-column: 1/-1;
}

.logo {
  max-width: 400px;
  padding: 15px;
}

.item {
  background-color: #666;
  color: white;
  list-style-type: none;
  border: 2px solid grey;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5em;
}

.item:hover {
  background-color: #444;
}

.buttons {
  grid-row-start: 3;
  grid-column-start: 3;
}
.btn {
  margin: 15px;
  border-radius: 5px;
}
